
:root {
   --color-text: #000;
   --color-bg: #cbe7e6;
   --color-accent: #3a1383;
   --color-accent2: #f30;
   --max-width: 1000px;
}

body {
   margin: 0;
   font-family: 'Times New Roman', Times, serif;
   background-color: var(--color-bg);
   overflow-y: scroll;
}

a {
   text-decoration: none;
   color: currentColor;
}

@keyframes appear {
   from {
      opacity: 0;
      transform: translateY(-1rem);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}